# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Editor/OS
.DS_Store
.vscode/
.idea/

# Entorno
.env
.env.*
*.sqlite

# Build / dist
dist/
build/

# Proyecto
backend/logs/
tmp/
vector_store/

# Docker
*.pid

